body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(128, 128, 128, 0.171);
}
h1 {
  background-color: #aa8c3b;
  padding: 20px;
}
h1:hover {
  color: #20c997;
}
h1::first-letter {
  color: #20c997;
}

h2 {
  border-style: dashed;
  border-color: #aa8c3b;
  border-width: 10px;
  background-color: #20c997;
  padding: 10px;
}
h3 {
  text-align: center;
  border-style: solid;
  border-radius: 50%;
  background-color: #20c99649;
}
p a:active {
  background-color: #20c997;
}
p a {
  text-decoration: none;
  color: black;
}
p a:hover {
  color: #20c997;
}
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  padding: 20px;
  text-align: justify;
  border-style: solid;
  border-color: white;
}
.box:first-child {
  background-color: aliceblue;
}
.box:nth-child(2) {
  background-color: rgba(245, 245, 222, 0.568);
}
.box:last-child {
  background-color: azure;
}
#underline {
  text-decoration: underline;
}
.breakfast-animation ul > li {
  border-bottom: 0.5ch solid rgba(255, 251, 0, 0.438);
  width: 50%;
  animation-name: getting-longer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* transition-timing-function: ease-in-out; */
  transition-timing-function: linear;
}
@keyframes getting-longer {
  0% {
    border-bottom: 0.5ch solid rgba(255, 251, 0, 0.438);
    width: 50%;
  }
  50% {
    border-bottom: 0.5ch solid rgba(63, 62, 24, 0.438);
    width: 100%;
  }
  100% {
    border-bottom: 0.5ch solid rgba(255, 251, 0, 0.438);
    width: 50%;
  }
}
.lunch-animation ul > li {
  transform: rotate(0deg);
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dinner-animation {
  background-color: rgb(255, 255, 255);
  width: 50%;
  color: black;
  animation-name: change-color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes change-color {
  0% {
    background-color: rgb(255, 255, 255);
    width: 50%;
    color: black;
  }
  50% {
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
  }
}
